/* CSS RESET */
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

header {
    font-family: montserrat;
}

nav {
    background: #001D3D;
    height: 80px;
    width: 100%;
}

.logo {
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul {
    float: right;
    margin: 20px;
}

nav ul li {
    display: inline-block;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    font-size: 17px;
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 3px;
}

a.active,
a:hover {
    background: #001D3D;
    transition: 0.5s;
}

body {
    background-color: #000814;
    color: white;
}

h1 {
    font-size: 30px;
    font-family: "Nunito Sans",
        sans-serif;
    padding-top: 100px;
    border: 15px;
    margin-left: 60px;
    box-sizing: border-box;
}

#container {
    display: flex;
    align-items: center;
}

.marg {
    margin-left: 20px;

}

#container img {
    margin-left: 100px;
    padding-top: 20px;
}

.img1 {
    border-radius: 300px;

    border: solid 2px white;

}

ul {
    font-size: 16px;
    margin-left: 60px;
    box-sizing: border-box;
    margin-left: 60px;
    font-family: "Nunito Sans",
        sans-serif;
    ;
    line-height: 20px;
}

p {
    font-family: "Nunito Sans",
        sans-serif;
    padding-top: 100px;
    border: 15px;
    margin-left: 60px;
}